.container { 
    text-align: center;
    max-width: 60%;
    margin: auto;
    /* overflow:auto;  */
}

.series-selector h3 { 
    text-align: left;
}

.axis-selector h3 { 
    text-align: left;
}

.button { 
    text-align: right;
}

.chart { 
    height: 760px;
    
    max-width: 100%;
    width: 100%;
    margin: auto;
    
}

@media screen and (max-width: 1000px) {
    .chart { 
        height: 45vw;
        min-height: 300px;
        max-width: 95%
    }   
    button { 
        height: 40px !important;
        width: 200px !important;
        
        font-size: 1.5vw !important
    }
    .container { 
        max-width: 90%;
    }
}
@media screen and (max-width: 1500px) {
    .chart { 
        height: 45vw
    }


}

.copy-text { 
    width: 30%;
    margin:auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.copy-text input { 
    width: 100%;
    text-align: center;
    margin-top: 5px
}


#chart-container { 
    display: block
}

button { 
    height: 30px;
    width: 200px;
}
.back button { 
    height: 30px !important;
    width: 100px !important
}

.copy-text { 
    display: none
}

/* Advanced selection section */
.advanced-series { 
    width: 30%;
    display: inline-block;
    margin: 10px
}

.hide { 
    display: none
}



.floating h3 { 
    float: left
}
.floating button { 
    float: right
}

.floating { 
    overflow: hidden
}