
.dark { 
    background-color: #262a33;
}

.dark p { 
    color: white
}
.dark .button-wrapper {
    background-color: #474f60;
    border-color: #262a33;
    
} 

.dark .button-wrapper a { 
    color: white
}

/* Slim select */
.dark .ss-main>:first-child { 
    background-color: #474f60;
    border-color: #262a33;
    color: white
}
.dark .ss-option, .dark .ss-search, .dark .ss-optgroup-label { 
    background-color: #474f60 !important;
    color: white
}
.dark .ss-disabled { 
    color: #262a33 !important
}
.dark .ss-content { 
    border-color: #262a33;
}
.dark input[type="search"] { 
    background-color: #262a33 !important;
    border-color: #262a33 !important;
    color: white !important
}

.dark span[class="ss-disabled"] { 
    color: white !important
}

.dark .ss-plus, .dark .ss-plus::after { 
    background: white !important
}

.dark .ss-arrow span { 
    border-color: white !important
}

.dark .container { 
    color: white
}

/* Table */
.dark th, .dark td { 
    background-color: #262a33 !important;
    
}

/* Alertify */
.dark .alertify .ajs-header { 
    background: #2d323d !important;
    color: white !important;
    border-color: #2d323d !important;
} 
.dark .ajs-dialog, .dark .ajs-footer { 
    background: #474f60 !important;
    border-color: #474f60 !important
}

.dark .ajs-input { 
    background-color: #5b667d !important;
    border-color: #5b667d !important;
    color: white !important
}
.dark .ajs-cancel { 
    color: white !important
}
.dark .ajs-message { 
    color: white !important ;
    border-color: #262a33 !important;
    border-radius: 4px !important;
    text-shadow: none !important;
}
