@media (prefers-color-scheme: dark) {
    .dark { 
        background-color: #262a33;
    }
    
    .dark p { 
        color: white
    }
    .dark .button-wrapper {
        background-color: #474f60;
        border-color: #262a33;
        
    } 
    
    .dark .button-wrapper a { 
        color: white
    }
    
    /* Slim select */
    .dark .ss-main>:first-child { 
        background-color: #474f60;
        border-color: #262a33;
        color: white
    }
    .dark .ss-option, .dark .ss-search, .dark .ss-optgroup-label { 
        background-color: #474f60 !important;
        color: white
    }
    .dark .ss-disabled { 
        color: #262a33 !important
    }
    .dark .ss-content { 
        border-color: #262a33;
    }
    .dark input[type="search"] { 
        background-color: #262a33 !important;
        border-color: #262a33 !important;
        color: white !important
    }
    
    .dark span[class="ss-disabled"] { 
        color: white !important
    }
    
    .dark .ss-plus, .dark .ss-plus::after { 
        background: white !important
    }
    
    .dark .ss-arrow span { 
        border-color: white !important
    }
    
    .dark .container { 
        color: white
    }
    
    /* Table */
    .dark th, .dark td { 
        background-color: #262a33 !important;
        
    }
}
.dark { 
    background-color: #262a33;
}

.dark p { 
    color: white
}
.dark .button-wrapper {
    background-color: #474f60;
    border-color: #262a33;
    
} 

.dark .button-wrapper a { 
    color: white
}

/* Slim select */
.dark .ss-main>:first-child { 
    background-color: #474f60;
    border-color: #262a33;
    color: white
}
.dark .ss-option, .dark .ss-search, .dark .ss-optgroup-label { 
    background-color: #474f60 !important;
    color: white
}
.dark .ss-disabled { 
    color: #262a33 !important
}
.dark .ss-content { 
    border-color: #262a33;
}
.dark input[type="search"] { 
    background-color: #262a33 !important;
    border-color: #262a33 !important;
    color: white !important
}

.dark span[class="ss-disabled"] { 
    color: white !important
}

.dark .ss-plus, .dark .ss-plus::after { 
    background: white !important
}

.dark .ss-arrow span { 
    border-color: white !important
}

.dark .container { 
    color: white
}

/* Table */
.dark th, .dark td { 
    background-color: #262a33 !important;
    
}

