

.container { 
    text-align: center;
}

.chart { 
    height: 760px;
    display: none;
    max-width: 100%;
    margin: auto;
    /* resize: vertical; */
}

#table1 { 
    width: 60%;
    margin: auto;
    table-layout: auto;
}

#table1 .date { 
    width: 100px
}

#hide-table { 
    display: none
}

#table1.sticky th { 
    position: sticky;
    top: 0;
    background-color: white;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .chart { 
        
        min-height: 300px;
        width: 90%
    }
    #table1 { 
        width: 95%;
        margin: auto
    }
    button { 
        height: 40px !important;
        width: 400px !important;
        
        font-size: 1.5vw !important
    }
    .selector-wrapper { 
        width: 60% !important;
    }

}
@media screen and (max-width: 1500px) {
    .chart { 
        height: 55vw
    }


}

button { 
    height: 25px;
    width: 400px;
}

#chart-container1 { 
    display: block
}


.selector-wrapper { 
    width: 40%;
    margin: auto
}







.section { 
    margin-top: 10px
}