body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

body { 
  min-width: fit-content;
  margin: 0
}
a {
  color: #00B7FF;
}

h1 { 
  margin: 0
}

p { 
  margin: 0 !important
}

.footer { 
  text-align: right;
  margin: 10px
}

.footer p { 
  color: #4f4f4f;
  font-style: italic
}